auto-save-list
backup/
bookmarks
elpa/
eshell/
*.elc
projectile*
session.*
transient
.python-environments/
pyim
.abbrev_defs
custom-local.el
url
helm-adaptive-history
workspace/
.cache/
.dap-breakpoints
tramp
.extension/
.yas-compiled-snippets.el
.lsp-session-*
request/
recentf
\#*
eclipse.jdt.ls/
